# AD Tool

## AD Tool

Brief description

<object data="ad.pdf" type="application/pdf" width="100%" height="500%">
    <embed src="../../ad.pdf" type="application/pdf" width="100%" height="700">
        <p>This browser does not support PDFs. Please download the PDF to view it: <a href="http://yoursite.com/the.pdf">Download PDF</a>.</p>
    </embed>
</object>
